<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hi</title>
</head>
<body>
  <form action="/door/open" method="POST">
    <label for="password">What's the Club Password? </label> 
    <input id="password" name="password" id="password">
    <button type="submit">Enter Club</button>
  </form>
</body>
</html>