<form action="/message/create" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="EPIC Title!">
  <br>
  <label for="message">Enter Message</label>
  <input type="text" name="message" id="message" placeholder="SEND ME...">

  <button type="submit">Create</button>
</form>