<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Club</title>
</head>
<body>
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/message"> Create New Message</a>
    <a href="/log-out">LOG OUT</a>
    <%- include("partials/messages", {messages: messages, isClub: user.member}) %>
  <% } else { %>
  <h1>Welcome to the Club</h1>
  <%- include("partials/log-in.ejs") %>

  <a href="/signup">Sign Up for Our Club!</a>
  <br>
  <a href="/door">Secret Club Entrance...</a>
  <%- include("partials/messages", {messages: messages, isClub: false}) %>
  <% } %>

</body>
</html>